:root {
    --grid-size: 16;
    --box-size: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container {
    display: inline-grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(var(--grid-size), auto);
    grid-template-rows: repeat(var(--grid-size), auto);
}

.square {
    align-items: center;
    width: var(--box-size) px;
    height: var(--box-size) px;
    background-color: white;
}